:root {
  font-family: "Nunito", sans-serif;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}


#app {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

$primary: #00bdb9;
$primary-text: #00bdb9;
$primary-bg-subtle: red;
$secondary: #7367f0;
$secondary-text: #fff;
$secondary-bg-subtle: #fff;
//$light: #efefef;
$dark: #6f6b7b;
$font-family-base: "Nunito", sans-serif;
$body-color: #6f6b7b;
@import "~bootstrap/scss/bootstrap";

.fs-small {
  font-size: 0.75rem;
}

.btn-outline-secondary {
  --bs-btn-hover-color: #fff;
  --bs-btn-active-color: #fff
}
